

h1{
    color: #333;
    font-family: PlayfairDisplay;
    font-size: 100px;
    letter-spacing: 0.3em;
    text-align: center;
}


.titleBorder{
    height: 200px;
    background-color: black;
    color: black;
}

.titleBorder:hover{
    background-color: #e8a21c;
    color: #333;
    font-family: PlayfairDisplay;
}

.subtitle{
    padding-top: 77px;
    font-size: 54px;
    margin: auto;
    text-align: center;
}

.content-paragraph{
    margin: auto;
    color: #333;
    font-size: 20px;
    line-height: 26px;
    max-width: 640px;
    font-family: PlayfairDisplay;
}

.content-paragraph:first-line{
    font-size: 30px;
    font-family: Montserrat;
    line-height: 40px;
}
.image {
  text-align: center;
}

.quote {
  margin: auto;
  color: #333;
  font-size: 20px;
  line-height: 26px;
  max-width: 640px;
  font-family: PlayfairDisplay;
}
.jeep {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Tony {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Yvon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Jack {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text {
  margin: auto;
  color: #333;
  font-size: 20px;
  line-height: 26px;
  max-width: 640px;
  font-family: PlayfairDisplay;
}

.jeeptext {
  margin: auto;
  color: #333;
  font-size: 20px;
  line-height: 26px;
  max-width: 640px;
  font-family: PlayfairDisplay;
}
img {
    border: 20px solid #e8a21c;
}

footer {
    width: 100%;
    background-color: #e8a21c;
    height: 3em;
    text-align: center;
    font-family: PlayfairDisplay;
    padding-top: 1em;
}


header {
    position: fixed;
    top: 0px;
    background-color: black;
    margin-top: 0;
    height: 4em;
    width: 99%;
    text-align: center;
    font-family: PlayfairDisplay;
    padding-right: 3em;
}

/* Set the layout of the menu: */
.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: #333;
    padding: 0.5em 1em;
    border-radius: 1em;
}

.site-name {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: #333;
    padding: 0.5em 1em;
    border-radius: 1em;
    float: left;
    font-weight: bold;
}

/* Style the links: */
.menu-item a {
    color: white;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #e8a21c;
    color: #333;
}

/* Add a dropdown feature: */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 0.5em 0 0 -1em;
    color: #000;
    background-color: #fff;
    z-index: 1;
    border-radius: 0em 0em 1em 1em;
}
.dropdown-content a {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: white;
    background-color: #e8a21c;
}


.dropdown:hover{
    border-radius: 1em 1em 0em 0em;
}


/*about page*/
h3{
  color: #333;
  font-family: PlayfairDisplay;
  font-size: 75px;
  letter-spacing: 0.3em;
  text-align: center;
}
/*places page*/
h4{
  color: #333;
  font-family: PlayfairDisplay;
  font-size: 75px;
  letter-spacing: 0.3em;
  text-align: center;
}
/*people page*/
h5{
  color: #333;
  font-family: PlayfairDisplay;
  font-size: 75px;
  letter-spacing: 0.3em;
  text-align: center;
}
/*stories page*/
h6{
  color: #333;
  font-family: PlayfairDisplay;
  font-size: 75px;
  letter-spacing: 0.3em;
  text-align: center;
}

#foundation:hover{
    border-radius: 0em 0em 1em 1em;
}


#footer-link {
    color: #333;
    font-weight: bold;
}
